@font-face {
    font-family: 'MS Sans Serif';
    src: local('MS Sans Serif'), 
    url('/fonts/ms-sans-serif-1.otf') format('opentype')
}

html, body, :root, :root, .desktop {
    font-family: 'MS Sans Serif';
    background-color: #00807F;

    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}